
@{
    ViewData["Title"] = "ECONOMY";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="breadcrumb-content pb-60">
            <h1>
                ECONOMY INTERNATIONAL COURIER
            </h1>
            <ul id="breadcrumb" class="breadcrumb-list"><li class="breadcrumb-item"><a asp-controller="SERVICES" asp-action="ECONOMY">Services </a></li><li class="active">ECONOMY INTERNATIONAL COURIER</li></ul>
        </div>
    </div>
    <div class="breadcrumb-img">
        <img src="~/wp-content/uploads/2025/11/solution-details-breadcrumb-bg-img.webp" alt="breadcrumb-image" />
    </div>
</div>
