
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<div class="breadcrumb-section">
    <div class="container">
        <div class="breadcrumb-content pb-60">
            <h1>
                INDUSTRIES
            </h1>
            <ul id="breadcrumb" class="breadcrumb-list"><li class="breadcrumb-item"><a asp-controller="INDUSTRIES" asp-action="Index">INDUSTRIES </a></li><li class="active">INDUSTRIES</li></ul>
        </div>
    </div>
    <div class="breadcrumb-img">
        <img src="~/wp-content/uploads/2025/11/solution-details-breadcrumb-bg-img.webp" alt="breadcrumb-image" />
    </div>
</div>
